@keyframes fadein{
    from{
        opacity:0;
        transform:translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.on-screen{
    animation: fadein 0.5s ease forwards;
}